<template>
  <div id="app">
    <header>
      <router-link :to="{ name: 'home'}">Latest HackerNews via Vue.js</router-link>
    </header>
    <ul v-if="posts && posts.length">
      <li v-for="post of posts">
        <a :href="post.url">{{post.title}}</a>
      </li>
    </ul>

    <ul v-if="errors && errors.length">
      <li v-for="error of errors">
        {{error.message}}
      </li>
    </ul>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'app',
  data() {
    return {
      posts: [],
      errors: [],
    };
  },

  // Fetches posts when the component is created.
  created() {
    axios.get('https://hacker-news.firebaseio.com/v0/topstories.json?print=pretty')
      .then((response) => {
        let list = [];
        let newsItems = response.data.slice(0, 10);
        newsItems.map(function (value, key) {
          let newsItemsUrl = 'https://hacker-news.firebaseio.com/v0/item/' + value + '.json?print=pretty';
          axios.get(newsItemsUrl)
            .then((responsetwo) => {
              list.push(responsetwo.data);
            });
        })
        this.posts = list;
      })
      .catch((e) => {
        this.errors.push(e);
      });

  },
};
</script>

<style lang="less" src="./assets/styles/app.less"></style>
